/*.firstTwofades{
    border: 10px solid black;
    height: 10em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../scenes/home/images/vectorlines1.svg);

}*/


/*Navbar=====================================*/

.navbar{
    display:flex;
    justify-content: flex-end;
}

.drpdownlink{
    margins:20px 20px 20px 20px;
    padding:20px 20px 20px 20px;
}

.dropdown{
    display:flex;
    flex-direction:column;
    position:absolute;
    right: 20em;
    top:1em;
    z-index: 1000;
}

button{
    border-style: outset;
    padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  border: 1px solid transparent;

}


.menu{
    display:flex;
    flex-direction: column;


}

/*Homescreens================================*/

.blacknwhite{
    position: absolute;
    height:50em;
    width:50em;
}

.vectorlines2{
    position: absolute;
    height:50em;
    width:50em;
}

.vectorlines3{
    position:left;
    height:50em;
    width:200em;
}

/*gridlist=====================================*/


.MuiGridListTile-tile-6:hover{border:4px solid pink;}
.MuiGridListTile-tile-7:hover{border:4px solid pink;}

/*slider=======================================*/

.slider {
  position: left;
  width: 82em;
  margin: 0 auto;
  height: 43em;
  overflow: hidden;
  white-space: nowrap;

}

.text{
    color:black;
    font-size:1em;
    text-align:left;
    padding-left:4em;
    position:absolute;
}

.hidden{
    visibility:hidden;
    opacity: 0;
}

.visible{
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.svg-inline--fa{
font-size: 6em;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;

}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;

}

.arrows{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
}

.prevArrow {
    position: absolute;
    top: 45%;
    left: 25px;
    z-index: 999;
    color: #fff;
    padding-left:4em;

}

.nextArrow {
  position: absolute;
  top: 45%;
  right: 25px;
  z-index: 999;
  color: #fff;
  padding-right:4em;
}


/*Mystery CSS================================*/

.fade-enter {
  opacity: .03;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 3s ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
