/*.firstTwofades{
    border: 10px solid black;
    height: 10em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../scenes/home/images/vectorlines1.svg);

}*/


/*Navbar=====================================*/

.dots{
    background-image:url('../scenes/navbar/images/texturesky.png');
    background-size:75%;
}
.navbar{
    display:flex;
    justify-content: flex-end;
    background-color:rgba(246,248,248,.9);
    z-index:-1000;
    margin-bottom:-1.32em;

}

.drpdownlink:hover{
    color:black;
}

.drpdownlink{
    margins:20px 20px 20px 20px;
    padding:20px 20px 20px 20px;
    text-decoration:none;
    color:gray;
    font-weight:bolder;
}

.drpdownlinkL{
    float:left;
    margins:20px 20px 20px 20px;
    padding:20px 20px 20px 20px;
    text-decoration:none;
    color:#ff5c7d;
    font-weight:bolder;
    background-color: rgba(246,248,248,.9);



}

.drpdownlinkL:hover{
    color:black;
}

.dropdown{
    display:flex;
    flex-direction:column;
    position:absolute;
    right: 15em;
    top:.7em;
    z-index: 1000;

}

.drpdownbtn{

    padding: 6px 12px;
  font-size: 16px;
  font-weight: normal;
  line-height: 2;
  border: 0;
  color:gray;
  font-weight:bolder;
  padding:3px;
  background-color:rgba(246,248,248,.9);
  text-decoration:none;
  text-align:center;


}

button:focus{
    border:none;
    outline:none !important
}

.drpdownbtn:hover{
    color:black;
}
.menu{
    display:flex;
    flex-direction: column;


}

/*Homescreens================================*/

.blacknwhite{
    position: absolute;
    height:50em;
    width:50em;
}

.vectorlines2{
    position: absolute;
    height:50em;
    width:50em;
}

.vectorlines3{
    position:left;
    height:50em;
    width:200em;
}

/*gridlist=====================================*/

.gridTitle{
    font-size: 1em;
    color:hotpink;
    font-weight:bolder;
    margin-right:80em;
    margin-top: -160px;
},

.gridTitle2 {
    font-size: 1em;
    color:hotpink;
    font-weight:bolder;
    margin-right:80em;
    margin-top: -160px;
}

.gridimgs:hover{border:4px solid pink;}

.gridimgs{
    height:22em;
    width:27em;
    border: 1px solid gray;
    box-shadow:2px 2px lightgray;
}

.omg{
    margin: 20px -60px 0px 30px;
}

/*slider=======================================*/

.slider {
  position: left;
  width: 82em;
  margin: 0 auto;
  height: 43em;
  overflow: hidden;
  white-space: nowrap;

}

.text{
    color:black;
    font-size:1em;
    text-align:left;
    padding-left:4em;
    position:absolute;
}

.hidden{
    visibility:hidden;
    opacity: 0;
}

.visible{
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.svg-inline--fa{
font-size: 6em;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;

}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;

}

.arrows{

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform ease-in .1s;
    margin-top:3.3em;
    opacity:1;
    z-index:1000;
    color:darkgray;

}


.arrows:hover{
    color:white;
}

.prevArrow {
    position: absolute;
    top: 10%;
    left: 25px;
    padding-left:4em;
    background-color:rgba(255,255,255,0.3);
    height:45em;

}

.nextArrow {
  position: absolute;
  top: 10%;
  right: 25px;
  padding-right:4em;
  background-color:white;
  background-color:rgba(255,255,255,0.3);

  height:45em;
}
/*about================================*/

.textdiv{
    display:flex;
    height:50em;
    width:30em;
    background-color:white;
    justify-content: center;
    width:33em;
    margin-left:7em;
    }

    .larisa{
    display:flex;
    justify-content:center;
    width:36em;
    height: 25em;
    margin-left: 6em;
    margin-top: 12em;
    opacity:1;


    }


    .about{
        display:flex;
        background-image:url('../scenes/navbar/images/texturesky.png');
        background-size:contain;
    }
    .abouttext{
        display:flex;
        justify-content: center;
        word-break: break-all;
        white-space: normal;
        margin-top:11em;
        color:gray;
        padding:4em;
        font-size:.8em;
    }

/*Mystery CSS================================*/

.fade-enter {
  opacity: .03;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 3s ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
